.arrows {
	display: flex;
	height: 20%;
	justify-content: space-between;
	padding-top: 4%;
}
.btn_back {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 200px;
	cursor: pointer;
	color: rgba(166, 87, 7);
	transition: all 0.3s;
	position: relative;
	text-transform: uppercase;
}

.btn_next {
	display: block;
	width: 100px;
}
.btn_back span {
	transition: all 0.3s;
}
.btn_back::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(166, 87, 7, 0.5);
	border-bottom-color: rgba(166, 87, 7, 0.5);
	transform: scale(0.1, 1);
}
.btn_back:hover span {
	letter-spacing: 2px;
}
.btn_back:hover::before {
	opacity: 1;
	transform: scale(1, 1);
}
.btn_back::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255, 239, 62, 0.5);
}
.btn_back:hover::after {
	opacity: 0;
	transform: scale(0.1, 1);
}
