body {
	margin: 0;
	padding: 0;
	background-color: antiquewhite;
}
.container {
	display: flex;
	width: 100vw;

	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}
.hero {
	width: 30vw;
	border: 1px solid rgb(19, 234, 94);
	margin: 5px 5px 5px 5px;
	background-color: darkseagreen;
	text-align: center;
}
img {
	width: 400px;
}
