@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK&family=Raleway&display=swap");

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	text-decoration: none;
}
a {
	text-decoration: none;
	color: rgb(124, 77, 17);
}
.footer_style {
	width: 100%;
	height: 20vh;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 2% 2% 0 6%;
}
.footer__author {
	display: flex;
	align-items: center;
	font-weight: 700;
}
.footer__year {
	color: rgb(124, 77, 17);
	padding-top: 30px;
	padding-left: 20px;
}
.footer__navigation {
	width: 20%;
	display: flex;
}
.nav__bar {
	display: flex;
	flex-direction: column;
}
.nav__bar li {
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	margin-right: 20px;
	color: rgb(189, 118, 47);
}
.nav__bar li:hover {
	border-bottom: 1px double #209214;
}
